n8n-workflow-facebook-webhook.json
{
  "name": "Facebook Webhook to VB.NET",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Webhook (GET - Verify)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "facebook-webhook-get"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query['hub.mode'] }}",
              "operation": "equal",
              "value2": "subscribe"
            }
          ]
        }
      },
      "id": "if-verify",
      "name": "IF Verify Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "respond-challenge",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-post",
      "name": "Webhook (POST - Data)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "facebook-webhook-post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:44332/api/Webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-request",
      "name": "HTTP Request to VB.NET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\" } }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook (GET - Verify)": {
      "main": [
        [
          {
            "node": "IF Verify Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Verify Mode": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request to VB.NET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST - Data)": {
      "main": [
        [
          {
            "node": "HTTP Request to VB.NET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to VB.NET": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T00:00:00.000Z",
  "versionId": "1"
}

